<table class="table table-striped">
  <thead>
  <tr>
    <th>Fields</th>
    <th>Select Dataset</th>
    <th>manually</th>
    <th>Validation</th>
  </tr>
  </thead>
  <tbody>
  <!-- Fields -->
  <tr class="form-group" data-ng-repeat="field in mapping.selectedNode.ConstructorParameterMapping track by $index">
    <td>
      <span>{{ field.Name }}:</span>
    </td>
    <td>
      <div class="input-group" data-ng-if="field.MappingType !== 'ValueParameterMapping'">
        <button class="btn" data-ng-class="mapping.selectedField === field ? 'btn-success' : 'btn-info'"
                data-ng-click="mapping.selectedField=field">{{mapping.SelectValue(field)}}
        </button>
        <button class="btn btn-link" data-ng-click="mapping.resetField(field)"
                data-ng-if="field.ColumnClearName">X
        </button>
      </div>
      <div class="input-group" data-ng-if="field.MappingType === 'ValueParameterMapping'">
        <div ng-include data-src="'app/mapping/templates/input-fields.html'"></div>
      </div>
    </td>
    <td>
      <div class="input-group">
        <div class="checkbox">
          <label><input type="checkbox" data-ng-model="field.MappingType"
                        data-ng-click="mapping.resetField(field)"
                        data-ng-true-value="'ValueParameterMapping'"
                        data-ng-false-value="'ColumnParameterMapping'"></label>
        </div>
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"
              data-ng-if="field.ValidationSuccessful"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-if="!field.ValidationSuccessful"
              data-uib-popover="{{field.ValidationResults}}" data-popover-placement="bottom"
              data-popover-trigger="mouseenter"></span>
      </div>
    </td>
  </tr>

  <!-- Instance count -->
  <tr>
    <td>
      <span>InstanceCount:</span>
    </td>
    <td>
      <div class="input-group" data-ng-if="!manualInstanceCount && mapping.selectedNode.InstanceCount">
        <span>
          {{mapping.SelectValue(mapping.selectedNode)}}
        </span>
        <button class="btn btn-link" data-ng-click="mapping.resetField(mapping.selectedNode)">X</button>
      </div>
      <div class="input-group" data-ng-if="manualInstanceCount">
        <label><input type="number" min="0" class="form-control" data-ng-model="mapping.selectedNode.InstanceCount"/>
        </label>
      </div>
    </td>
    <td>
      <div class="input-group">
        <div class="checkbox">
          <label><input type="checkbox" data-ng-model="manualInstanceCount"></label>
        </div>
      </div>
    </td>
    <td>
    </td>
  </tr>
  </tbody>
</table>
<div class="text-right">
  <button class="btn btn-primary" type="submit" data-ng-click="mapping.saveMapping(); mapping.saveParameter()"
          data-ng-disabled="mappingForm.$invalid">Save & Validate
  </button>
</div>
