<!-- Boolean -->
<label data-ng-if="field.AllowedValues.type === 'boolean'">
  <input type="checkbox" class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
         data-field="field"/>
</label>

<!-- Date-Time -->
<div data-ng-if="field.AllowedValues.type === 'string' && field.AllowedValues.format === 'date-time'">
  <div>Date-Time:</div>
  <button type="button" ng-class="mappingForm.datepicker_{{$index}}.$invalid ? 'ng-invalid' : ''"
          class="btn btn-default" ng-click="datepickerCollapsed[$index] = !datepickerCollapsed[$index]">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
  <span class="date-margin-left">{{ field.Value |date:'yyyy-MM-dd HH:mm:ss Z' }}</span>
  <div uib-collapse="!datepickerCollapsed[$index]">
    <datetimepicker data-ng-model="field.Value" ng-required="field.Required"
                    name="datepicker_{{$index}}"></datetimepicker>
  </div>

</div>

<!-- Enum -->
<label data-ng-if="field.AllowedValues.type === 'string' && field.AllowedValues.hasOwnProperty('enum')">
  <select class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
          data-ng-min="field.AllowedValues.minimum" data-ng-max="field.AllowedValues.maximum">
    <option ng-repeat="key in field.AllowedValues.enum" value="{{key}}">{{ key }}</option>
  </select>
</label>

<!-- Integer -->
<label data-ng-if="field.AllowedValues.type === 'integer'">
  <input type="number" class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
         data-ng-min="field.AllowedValues.minimum" data-ng-max="field.AllowedValues.maximum"/>
</label>

<!-- Number -->
<label data-ng-if="field.AllowedValues.type === 'number'">
  <input type="number" class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
         data-ng-min="field.AllowedValues.minimum" data-ng-max="field.AllowedValues.maximum" step="0.01"/>
</label>

<!-- String (default case) -->
<label data-ng-if="field.AllowedValues.type === 'string' && field.AllowedValues.format !== 'date-time'
      && !field.AllowedValues.hasOwnProperty('enum') || !field.hasOwnProperty('AllowedValues')
      || !field.AllowedValues.hasOwnProperty('type')">
  <input type="text" class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
         data-field="field"/>
</label>
