<!-- Boolean -->
<div class="checkbox" data-ng-if="field.AllowedValues.type === 'boolean'">
  <label class="full-width"><input type="checkbox" data-ng-model="field.Value" data-ng-required="field.Required"
                                   data-field="field"/></label>
</div>

<!-- Date-Time -->
<div data-ng-if="field.AllowedValues.type === 'string' && field.AllowedValues.format === 'date-time'">
  <div class="row date-row">
    <div class="form-group col-xs-4">
      <label for="year" class="sr-only">Year</label>
      <input id="year" class="form-control" type="number" name="year" title="Year" placeholder="Year" min="1900" max="3000"
             ng-model="field.date.year" ng-change="field.Value = mapping.setDate(field.date)"/>
    </div>

    <div class="form-group col-xs-4">
      <label for="month" class="sr-only">Month</label>
      <input id="month" class="form-control" type="number" name="month" title="Month" placeholder="Month" min="1"
             max="12" ng-model="field.date.month" ng-change="field.Value = mapping.setDate(field.date)"/>
    </div>

    <div class="form-group col-xs-4">
      <label for="day" class="sr-only">Day</label>
      <input id="day" class="form-control" type="number" name="day" title="Day" placeholder="Day" min="1"
             max="31" ng-model="field.date.day" ng-change="field.Value = mapping.setDate(field.date)"/>
    </div>
  </div>

  <div class="row date-row">
    <div class="form-group col-xs-6">
      <label for="hour" class="sr-only">Hour</label>
      <input id="hour" class="form-control" type="number" name="hour" title="Hour" placeholder="Hour" min="0" max="23"
             ng-model="field.date.hour" ng-change="field.Value = mapping.setDate(field.date)"/>
    </div>

    <div class="form-group col-xs-6">
      <label for="minute" class="sr-only">Minute</label>
      <input id="minute" class="form-control" type="number" name="minute" title="Minute" placeholder="Minute" min="0"
             max="59" ng-model="field.date.minute" ng-change="field.Value = mapping.setDate(field.date)"/>
    </div>
  </div>

  <span>{{ field.Value |date : 'yyyy/MM/dd HH:mm' : '+0' }}</span>
</div>

<!-- Enum -->
<label class="full-width"
       data-ng-if="field.AllowedValues.type === 'string' && field.AllowedValues.hasOwnProperty('enum')">
  <select class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
          data-ng-min="field.AllowedValues.minimum" data-ng-max="field.AllowedValues.maximum">
    <option ng-repeat="key in field.AllowedValues.enum" value="{{ key }}">{{ key }}</option>
  </select>
</label>

<!-- Integer -->
<label class="full-width" data-ng-if="field.AllowedValues.type === 'integer'">
  <input type="number" class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
         data-ng-min="field.AllowedValues.minimum" data-ng-max="field.AllowedValues.maximum"/>
</label>

<!-- Number -->
<label class="full-width" data-ng-if="field.AllowedValues.type === 'number'">
  <input type="number" class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
         data-ng-min="field.AllowedValues.minimum" data-ng-max="field.AllowedValues.maximum" step="0.01"/>
</label>

<!-- String (default case) -->
<label class="full-width" data-ng-if="field.AllowedValues.type === 'string' && field.AllowedValues.format !== 'date-time'
      && !field.AllowedValues.hasOwnProperty('enum') || !field.hasOwnProperty('AllowedValues')
      || !field.AllowedValues.hasOwnProperty('type')">
  <input type="text" class="form-control" data-ng-model="field.Value" data-ng-required="field.Required"
         data-field="field"/>
</label>
