<h3>Select Data</h3>

<div class="form-group has-feedback has-clear">
  <label for="filter" class="filter">Filter: </label>
  <input type="search" id="filter" class="form-control" data-ng-model="mapping.dataFilter.title"/>
  <a class="glyphicon glyphicon-remove-circle form-control-feedback form-control-clear clear-filter"
     ng-click="mapping.dataFilter.title = ''" ng-if="mapping.dataFilter.title"></a>
</div>

<uib-accordion close-others="true">
  <uib-accordion-group class="panel-default" ng-repeat="dataset in mapping.metadata |filter:mapping.dataFilter
      track by $index">
    <uib-accordion-heading>
      {{ dataset.title }}
      <button class="btn btn-success btn-xs" data-ng-click="mapping.createMapping(dataset, $index)"
              data-ng-hide="dataset.additionalTypeSpecificData.databaseName">add
      </button>
    </uib-accordion-heading>
    <div>Type: {{ dataset.type }}</div>
    <div>Description: {{ dataset.description }}</div>
    <div ng-if="dataset.type === 'TABLE_BASED'">InstanceCount: {{ dataset.records }}
      <button class="btn btn-success btn-xs" data-ng-click="mapping.createInstanceCountMapping(dataset)">add
      </button>
    </div>
    <div data-ng-if="dataset.additionalTypeSpecificData.databaseName">
      <div>ColumnNames:</div>
      <ul>
        <li data-ng-repeat="field in dataset.additionalTypeSpecificData.columnNames track by $index ">
          {{ field.clearColumnName }}
          <button class="btn btn-info btn-xs" data-ng-click="mapping.createMapping(dataset, $index)">add</button>
        </li>
      </ul>
    </div>
  </uib-accordion-group>
</uib-accordion>
