<h3>Select Data
  <span class="glyphicon glyphicon-question-sign orange" aria-hidden="true" data-popover-placement="left-top"
        data-popover-trigger="mouseenter" data-popover-title="Instructions" data-
        uib-popover-html="'The active field has a green \'select\' button.
        <br />Match it to a dataset with a green \'add\' button on the right.
        <br />The InstanceCount can be mapped at any time.'">
  </span>
</h3>

<uib-accordion close-others="true">
  <table ng-table="mapping.tableParams" class="table select-data-table">
    <tr ng-repeat="dataset in $data">
      <td title="'Name'" data-filter="{ title: 'text'}" data-sortable="'title'">
        <uib-accordion-group class="panel-default" is-open="$first" is-disabled="dataset.type !== 'TABLE_BASED'">
          <uib-accordion-heading>
            {{ dataset.title }}
            <button class="btn btn-success btn-xs" data-ng-click="mapping.createMapping(dataset, $index)"
                    data-ng-hide="dataset.additionalTypeSpecificData.databaseName">add
            </button>
          </uib-accordion-heading>
          <div ng-if="dataset.description">Description: {{ dataset.description }}</div>
          <div data-ng-if="dataset.type === 'TABLE_BASED' && dataset.records">InstanceCount: {{ dataset.records }}
            <button class="btn btn-warning btn-xs" data-ng-click="mapping.createInstanceCountMapping(dataset)">add
            </button>
          </div>
          <div data-ng-if="dataset.additionalTypeSpecificData.databaseName">
            <div>ColumnNames:</div>
            <ul>
              <li data-ng-repeat="field in dataset.additionalTypeSpecificData.columnNames track by $index ">
                {{ field.clearColumnName }}
                <button class="btn btn-success btn-xs" data-ng-click="mapping.createMapping(dataset, $index)">add
                </button>
              </li>
            </ul>
          </div>
        </uib-accordion-group>
      </td>

    </tr>
  </table>
</uib-accordion>
