<div id="agents-view-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1>{{agents.title}}</h1>

  <div class="row">

    <div class="col-md-3">

      <form id="generalAgentContainer">

        <div class="form-group">
          <label>
            Name
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.name" required>
        </div>

        <div class="form-group">
          <label>
            ID
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.id" required>
        </div>

        <div class="form-group">
          <label>
            Group ID
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.groupId" required>
        </div>

        <div class="form-group">

          <table class="table table-hover" cellpadding="0">
            <tr>
              <td>Private</td>
              <td>Group Private</td>
              <td>Public</td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
            </tr>
          </table>

        </div>

        <div class="form-group">
          <label>
            Parent Type
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.parentType">
        </div>
      </form>
    </div>


    <div class="col-md-9">
      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="State Variables" is-open="true">

          <div id="stateVariableContainer">
            <!--Table which holds all state variable information-->
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Value</th>
                <th>Externally Initialized</th>
              </tr>
              </thead>

              <!--Data part for the table-->
              <tbody>

              <!--Retrieves each variable from the metamodels array for the state variables-->
              <tr data-ng-repeat="stateVariable in agents.currentAgent.stateVariables">
                <td>
                  <input data-ng-model="stateVariable.name" class="form-control">
                </td>
                <td>
                  <select class="form-control" ng-model="stateVariable.type">
                    <option ng-repeat="stateVariableType in agents.stateVariableTypes">{{stateVariableType}}</option>
                  </select>
                </td>
                <td ng-show="stateVariable.externallyInitialized">
                  <input class="form-control" id="disabledInput" type="text" placeholder="Will be set later" disabled>
                </td>
                <td ng-hide="stateVariable.externallyInitialized">
                  <input class="form-control" type="text" data-ng-model="stateVariable.default.expression">
                </td>
                <td class="centeredCheckbox">
                  <input type="checkbox" data-ng-model="stateVariable.externallyInitialized">
                </td>
                <td>
                  <!--Remove "cross/ x" at the end of each row-->
                  <button ng-click="agents.removeStateVariable(stateVariable.name)" type="button" class="close"
                          aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <!--Button for adding a variable-->
                  <!--<button class="btn btn-primary pull-right" ng-click="addStateVariable()">Add</button>-->
                  <button class="btn btn-primary pull-right" ng-click="agents.openModalForNewStateVariable()">Add</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </uib-accordion>

      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Active Actions" is-open="true">



        </div>
      </uib-accordion>

      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Passive Actions" is-open="true">

          <div class="form-group">
            <label>Dynamic Tooltip Text</label>
            <select>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>

        </div>
        <button class="btn" ng-click="agents.openStateVariableModal()">Hallo</button>
      </uib-accordion>
    </div>
  </div>
</div>

