<div id="agents-view-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1>{{agents.name}}</h1>

  <div class="row">

    <div class="col-md-3">

      <form id="generalAgentContainer">

        <div class="form-group">
          <label>
            Name
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.name" required>
        </div>

        <div class="form-group">
          <label>
            ID
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.id" required>
        </div>

        <div class="form-group">
          <label>
            Group ID
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.groupId" required>
        </div>

        <div class="form-group">

          <table class="table table-hover" cellpadding="0">
            <tr>
              <td>Private</td>
              <td>Group Private</td>
              <td>Public</td>
            </tr>
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
            </tr>
          </table>

        </div>

        <div class="form-group">
          <label>
            Parent Type
          </label>
          <input type="text" class="form-control" data-ng-model="agents.currentAgent.parentType">
        </div>
      </form>
    </div>


    <div class="col-md-9">
      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="State Variables" is-open="true">

          <state-variable-directive open-modal="agents.openStateVariableModal()" agent-state-variables="agents.currentAgent.stateVariables"></state-variable-directive>

        </div>
      </uib-accordion>

      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Active Actions" is-open="true">



        </div>
      </uib-accordion>

      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Passive Actions" is-open="true">

          <div class="form-group">
            <label>Dynamic Tooltip Text</label>
            <select>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>

        </div>
        <button class="btn" ng-click="agents.openStateVariableModal()">Hallo</button>
      </uib-accordion>
    </div>
  </div>
</div>

