<div class="scenarioModal">
  <div class="modal-header">
    <h3 class="modal-title">Create Scenario</h3>
  </div>

  <div class="modal-body">

    <form name="scenarioModal.form" class="simple-form" novalidate>
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control" name="name" ng-model="scenarioModal.scenario.name"
               required placeholder="Name"/>
        <div data-ng-if="(scenarioModal.form.$submitted || scenarioModal.form.name.$touched)
          && scenarioModal.form.name.$invalid">Please insert a name.
        </div>
      </div>

      <div class="form-group">
        <label for="scenarioDescription" class="control-label">Description</label>
        <input type="text" id="scenarioDescription" class="form-control" name="Description"
               ng-model="scenarioModal.scenario.description"/>
      </div>

      <div class="form-group">
        <label for="scenarioModel" class="control-label">Model</label>
        <select id="scenarioModel" class="form-control" ng-model="scenarioModal.scenario.model" name="model" required>
          <option ng-repeat="model in scenarioModal.models" value="{{model.dataId}}">{{model.title}}</option>
        </select>
        <div data-ng-if="(scenarioModal.form.$submitted || scenarioModal.form.model.$touched)
        && scenarioModal.form.model.$invalid">
          Please select a Model. If there are no models, you have to upload one first.
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="scenarioModal.cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" ng-click="scenarioModal.save()"
            data-ng-disabled="scenarioModal.form.$invalid">Save
    </button>
  </div>
</div>
