#navigation-container {

  .acme-navbar-text {
    color: white;
  }

  .form-group {
    color: white;

    select {
      max-width: 200px;
    }
  }

  .popover {
    color: black;
    max-width: 100%;
  }

  .scenario {
    margin-left: 1em;
  }

  .navbar-form > .form-group {
    margin-left: 15px;
  }

  .acme-navbar-text {
    margin-right: 2px;
  }

  .bold {
    font-weight: bold;
  }
}
