<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class="glyphicon glyphicon-home"></span> MARS
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="active"><a ui-sref="home">Dashboard</a></li>

        <li uib-dropdown on-toggle="toggled(open)" ng-repeat="menuItem in vm.menuItems">
          <a href="{{ menuItem.url }}" uib-dropdown-toggle>{{ menuItem.title }} <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="child in menuItem.children"><a ui-sref="{{ child.url ? child.url : 'home' }}">{{ child.title }}</a></li>
          </ul>
        </li>

      </ul>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <label class="acme-navbar-text">Current Project: </label>
          <select class="form-control">
            <option ng-repeat="project in vm.projects">{{ project.name }}</option>
          </select>
        </div>
      </form>

    </div>
  </div>
</nav>
