#navigation-container {

  .acme-navbar-text {
    color: white;
  }

  .form-group {
    color: white;
  }

  .popover {
    color: black;
    max-width: 100%;
  }

  .scenario {
    margin-left: 1em;
  }

  .navbar-form > .form-group {
    margin-right: 10px;
  }

  .bold {
    font-weight: bold;
  }
}
