<div id="import-data-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1>File import</h1>

  <div class="row">
    <div class="col-md-3">

      <!-- Error messages -->
      <uib-alert ng-repeat="alert in importData.alerts.getAll()" type="{{alert.type}}"
                 close="importData.alerts.remove($index)">{{alert.msg}}
      </uib-alert>

      <!-- Upload box -->
      <div nv-file-drop data-uploader="importData.uploader" ng-click="importData.clickUpload();"
           ng-show="importData.uploader.isHTML5">
        <div nv-file-over data-uploader="importData.uploader" class="well my-drop-zone text-center upload-box">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br/>
          <div><strong>Choose files</strong></div>
          <div>or drag them here.</div>
        </div>
      </div>
      <input type="file" id="uploadBtn" ng-hide="importData.uploader.isHTML5" multiple nv-file-select
             data-uploader="importData.uploader">

      <!-- Upload accordion settings-->
      <div class="checkbox" ng-show="importData.uploader.queue.length">
        <div class="well">
          <label>
            <input type="checkbox" ng-model="importData.showOneUploadAtATime">
            Collapse other upload items
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <h3>Upload queue</h3>
      <p>Queue length: {{ importData.uploader.queue.length }}</p>

      <form name="form" class="css-form">
        <uib-accordion close-others="importData.showOneUploadAtATime">
          <uib-accordion-group heading="{{upload.file.name}}" ng-init="isOpen = $index === 0" is-open="isOpen"
                               ng-repeat="upload in importData.uploader.queue">

            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': form.dataType_{{$index}}.$invalid }">
                <label for="dataType">Data Type</label>
                <select id="dataType" class="form-control" ng-model="importData.data[$index].dataType"
                        ng-change="importData.clearGeoPicker($index)" name="dataType_{{$index}}" required>
                  <option value="{{importData.GEO_POTENTIAL_FIELD}}">Geo-potential-field data</option>
                  <option value="{{importData.GRID_POTENTIAL_FIELD}}">Grid-potential-field data</option>
                  <option value="{{importData.OBSTACLE_LAYER}}">Obstacle-layer data</option>
                  <option value="{{importData.TABLE_BASED}}">Table-based data</option>
                  <option value="{{importData.TIME_SERIES}}">Time-series data</option>
                  <option value="{{importData.GIS}}">GIS data</option>
                </select>
              </div>

              <div class="form-group"
                   ng-class="{ 'has-error': form.lat_{{$index}}.$invalid || form.lng_{{$index}}.$invalid }">
                <div class="geo-picker" ng-model="importData.geoPicker"
                     ng-show="importData.data[$index].dataType && importData.data[$index].dataType === importData.TIME_SERIES">
                  <label>
                    Geo-Coords
                    <span class="input-group">
                      <input type="text" placeholder="LAT" min="-90" max="90"
                             class="form-control" ng-model="importData.data[$index].lat" name="lat_{{$index}}"
                             ng-required="importData.data[$index].dataType
                             && importData.data[$index].dataType === importData.TIME_SERIES">
                      <span class="input-group-btn" style="width:0;"></span>
                      <input type="text" placeholder="LON" min="-180" max="180"
                             class="form-control" ng-model="importData.data[$index].lng" name="lng_{{$index}}"
                             ng-required="importData.data[$index].dataType
                             && importData.data[$index].dataType === importData.TIME_SERIES">
                      <span class="input-group-btn" style="width:0;"></span>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                                ng-click="importData.openGeoPicker($index)">pick</button>
                      </span>
                    </span>
                  </label>
                </div>
                <div ng-show="form.$submitted || form.lat_$index.$touched || form.lng_$index.$touched">
                  <div ng-show="form.lat_$index.$error.required || form.lng_$index.$error.required">
                    Please select a Geo Coordinate
                  </div>
                  <div ng-show="form.lat_$index.$error.min || form.lat_$index.$error.max">
                    Latitude is not valid! Valid range: -90 to 90.
                  </div>
                  <div ng-show="form.lng_$index.$error.min || form.lng_$index.$error.max">
                    Longitude is not valid. Valid range: -180 to 180.
                  </div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': form.privacy_{{$index}}.$invalid }">
                <label for="privacy">Privacy</label>
                <select id="privacy" class="form-control" ng-model="importData.data[$index].privacy"
                        name="privacy_{{$index}}" required>
                  {{importData.data[$index].privacy= 'PRIVATE'}}
                  <option value="PRIVATE">Only for personal use</option>
                  <option value="PROJECT_PRIVATE">Can only be used by project members</option>
                  <option value="PUBLIC">Can be used by everyone</option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error': form.title_{{$index}}.$invalid }">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" ng-model="importData.data[$index].title"
                       placeholder="Title of this data" data-ng-trim="true" name="title_{{$index}}" required>
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="4" ng-model="importData.data[$index].description"
                          placeholder="Description of this data"></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" ng-show="importData.uploader.isHTML5">
                <label class="control-label">File size:</label>
                {{ upload.file.size/1024/1024|number:2 }} MB
              </div>

              <div ng-show="importData.uploader.isHTML5">
                <div ng-hide="upload.isSuccess || upload.isCancel || upload.isError" class="progress"
                     style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': upload.progress + '%' }">
                    {{upload.progress}}% Complete
                  </div>
                </div>
                <div class="alert alert-warning" ng-if="upload.isUploading">
                  <i class="glyphicon glyphicon-refresh"></i> uploading
                </div>
                <div class="alert alert-info" ng-if="upload.isProcessing && !upload.isError && !upload.isCancel">
                  <i class="glyphicon glyphicon-refresh"></i> processing
                </div>
                <div class="alert alert-success" ng-if="!upload.isProcessing && upload.isSuccess">
                  <i class="glyphicon glyphicon-ok"></i> success
                </div>
                <div class="alert alert-warning" ng-if="upload.isCancel">
                  <i class="glyphicon glyphicon-ban-circle"></i> canceled
                </div>
                <div class="alert alert-danger" ng-if="upload.isError">
                  <i class="glyphicon glyphicon-remove"></i> failed
                </div>
              </div>
              <button type="button" class="btn btn-warning btn-xs" ng-click="upload.cancel()"
                      ng-disabled="!upload.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      ng-click="upload.remove(); importData.removeUpload($index);">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </div>
          </uib-accordion-group>
        </uib-accordion>

        <div ng-show="importData.uploader.queue.length">
          <button type="submit" class="btn btn-success btn-s" ng-click="importData.uploadFiles()"
                  ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="importData.uploader.cancelAll()"
                  ng-disabled="!importData.uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  ng-click="importData.uploader.clearQueue(); importData.removeAllUploads();"
                  ng-disabled="!importData.uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>
      </form>

    </div>
  </div>

</div>
