<div id="import-model-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1>Model import</h1>

  <div class="row">
    <div class="col-md-3">

      <!-- Error messages -->
      <uib-alert ng-repeat="alert in importModel.alerts.getAll()" type="{{alert.type}}" close="importModel.alerts.remove($index)">
        {{alert.msg}}
      </uib-alert>

      <!-- Upload box -->
      <div nv-file-drop data-uploader="importModel.uploader" ng-click="importModel.clickUpload();"
           ng-show="importModel.uploader.isHTML5">
        <div nv-file-over data-uploader="importModel.uploader" class="well my-drop-zone text-center upload-box">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br/>
          <div><strong>Choose files</strong></div>
          <div>or drag them here.</div>
        </div>
      </div>
      <input type="file" id="uploadBtn" ng-hide="importModel.uploader.isHTML5" multiple nv-file-select
             data-uploader="importModel.uploader">

      <!-- Upload accordion settings-->
      <div class="checkbox" ng-show="importModel.uploader.queue.length">
        <div class="well">
          <label>
            <input type="checkbox" ng-model="importModel.showOneUploadAtATime">
            Open only one Upload at a time
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <h3>Upload queue</h3>
      <p>Queue length: {{ importModel.uploader.queue.length }}</p>

      <form name="form" class="css-form">
        <uib-accordion close-others="importModel.showOneUploadAtATime">
          <uib-accordion-group heading="{{upload.file.name}}" ng-init="isOpen = $index === 0" is-open="isOpen"
                               ng-repeat="upload in importModel.uploader.queue">

            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': form.privacy_{{$index}}.$invalid }">
                <label for="privacy">Privacy</label>
                <select id="privacy" class="form-control" ng-model="importModel.data[$index].privacy"
                        name="privacy_{{$index}}" required>
                  <option value="">Please select</option>
                  <option value="PRIVATE">Only for personal use</option>
                  <option value="PROJECT_PRIVATE">Can only be used by project members</option>
                  <option value="PUBLIC" ng-selected="true">Can be used by everyone</option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error': form.title_{{$index}}.$invalid }">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" ng-model="importModel.data[$index].title"
                       placeholder="Title of this data" ng-trim="true" name="title_{{$index}}" required>
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="4" ng-model="importModel.data[$index].description"
                          placeholder="Description of this data"></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" ng-show="importModel.uploader.isHTML5">
                <label class="control-label">File size:</label>
                {{ upload.file.size/1024/1024|number:2 }} MB
              </div>

              <div ng-show="importModel.uploader.isHTML5">
                <div ng-hide="upload.isSuccess || upload.isCancel || upload.isError" class="progress"
                     style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': upload.progress + '%' }">
                    {{upload.progress}}% Complete
                  </div>
                </div>

                <div class="alert alert-success" ng-show="upload.isSuccess">
                  <i class="glyphicon glyphicon-ok"></i>ok
                </div>
                <div class="alert alert-warning" ng-show="upload.isUploading">
                  <i class="glyphicon glyphicon-refresh"></i>uploading
                </div>
                <div class="alert alert-warning" ng-show="upload.isCancel">
                  <i class="glyphicon glyphicon-ban-circle"></i>canceled
                </div>
                <div class="alert alert-danger" ng-show="upload.isError">
                  <i class="glyphicon glyphicon-remove"></i>failed
                </div>
              </div>
              <button type="button" class="btn btn-warning btn-xs" ng-click="upload.cancel()"
                      ng-disabled="!upload.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      ng-click="upload.remove(); importModel.removeUpload($index);">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </div>
          </uib-accordion-group>
        </uib-accordion>

        <div ng-show="importModel.uploader.queue.length">
          <button type="submit" class="btn btn-success btn-s" ng-click="importModel.uploadFiles()"
                  ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="importModel.uploader.cancelAll()"
                  ng-disabled="!importModel.uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  ng-click="importModel.uploader.clearQueue(); importModel.removeAllUploads();"
                  ng-disabled="!importModel.uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>
      </form>

    </div>
  </div>

</div>
