<form name="form" class="css-form">
  <uib-accordion close-others="import.showOneUploadAtATime">
    <uib-accordion-group ng-init="isOpen = $index === 0" is-open="isOpen"
                         ng-repeat="upload in import.uploader.queue"
                         ng-if="!import.uploader.isUploading && !upload.isProcessing && !upload.isSuccess
                         && !upload.isCancel && !upload.isError">
      <uib-accordion-heading>
        {{ upload.file.name }} ({{ upload.file.size/1024/1024|number:2 }} MB)

        <button type="button" class="btn btn-danger btn-xs"
                ng-click="upload.remove(); import.removeUpload($index, $event);">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
        </button>
      </uib-accordion-heading>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" ng-model="import.data[$index].title"
                 placeholder="Title of this data" data-ng-trim="true" name="title_{{$index}}" required>
        </div>

        <div class="form-group" ng-if="!import.isModelUpload">
          <label for="dataType">Data Type</label>
          <select id="dataType" class="form-control" data-ng-model="import.data[$index].dataType"
                  data-ng-change="import.clearGeoPicker($index)" name="dataType_{{$index}}" required>
            <option ng-repeat="dataType in dataTypes" value="{{dataType.name}}">{{dataType.clearName}}</option>
          </select>
        </div>

        <div class="form-group"
             ng-if="import.data[$index].dataType && import.data[$index].dataType === import.TIME_SERIES">
          <div class="geo-picker" data-ng-model="import.geoPicker">
            <label>
              Geo-Coords
              <span class="input-group">
        <input type="text" placeholder="LAT" min="-90" max="90"
               class="form-control" ng-model="import.data[$index].lat" name="lat_{{$index}}"
               ng-required="import.data[$index].dataType && import.data[$index].dataType === import.TIME_SERIES">
        <span class="input-group-btn" style="width:0;"></span>
        <input type="text" placeholder="LON" min="-180" max="180"
               class="form-control" ng-model="import.data[$index].lng" name="lng_{{$index}}"
               ng-required="import.data[$index].dataType && import.data[$index].dataType === import.TIME_SERIES">
        <span class="input-group-btn" style="width:0;"></span>
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" ng-click="import.openGeoPicker($index)">pick</button>
        </span>
      </span>
            </label>
          </div>
          <div ng-if="form.$submitted || form.lat_$index.$touched || form.lng_$index.$touched">
            <div ng-if="form.lat_$index.$error.required || form.lng_$index.$error.required">
              Please select a Geo Coordinate
            </div>
            <div ng-if="form.lat_$index.$error.min || form.lat_$index.$error.max">
              Latitude is not valid! Valid range: -90 to 90.
            </div>
            <div ng-if="form.lng_$index.$error.min || form.lng_$index.$error.max">
              Longitude is not valid. Valid range: -180 to 180.
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="privacy">Privacy</label>
          <select id="privacy" class="form-control" data-ng-model="import.data[$index].privacy"
                  name="privacy_{{$index}}"
                  required>
            {{import.data[$index].privacy= 'PRIVATE'}}
            <option value="PRIVATE">Only for personal use</option>
            <option value="PROJECT_PRIVATE">Can only be used by project members</option>
            <option value="PUBLIC">Can be used by everyone</option>
          </select>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="4" data-ng-model="import.data[$index].description"
                    placeholder="Description of this data"></textarea>
        </div>
      </div>
    </uib-accordion-group>
  </uib-accordion>

  <div ng-if="import.uploader.getNotUploadedItems().length > 0 && !import.uploader.isUploading">
    <hr/>
    <button type="submit" class="btn btn-primary btn-s" ng-click="import.uploadFiles()"
            ng-disabled="form.$invalid">
      <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <button type="button" class="btn btn-danger btn-s"
            ng-click="import.uploader.clearQueue(); import.removeAllUploads();">
      <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
  </div>
</form>
