<form name="form" class="css-form">
  <uib-accordion close-others="import.showOneUploadAtATime">

    <!-- normal import -->
    <uib-accordion-group ng-init="isOpen = $index === 0" is-open="isOpen"
                         ng-repeat="upload in import.uploader.queue"
                         ng-if="!import.isBulkUpload && !import.uploader.isUploading && !upload.isProcessing
                         && !upload.isSuccess && !upload.isCancel && !upload.isError">
      <div ng-include data-src="'app/data-management/import/directive/templates/importAccordion.html'"></div>
    </uib-accordion-group>

    <!-- bulk import -->
    <div ng-include data-src="'app/data-management/import/directive/templates/importAccordionBulk.html'"></div>
  </uib-accordion>

  <div ng-if="import.uploader.getNotUploadedItems().length > 0 && !import.uploader.isUploading">
    <hr/>
    <button type="submit" class="btn btn-primary btn-s" ng-click="import.uploadFiles()"
            ng-disabled="form.$invalid">
      <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <button type="button" class="btn btn-danger btn-s"
            ng-click="import.uploader.clearQueue(); import.removeAllUploads();">
      <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
  </div>
</form>
