#import-view-container {

  .searchFilter .form-group input.form-control {
    margin-bottom: 1em;
    float: left;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .categoryFilter {
    margin-bottom: 1em;
  }

  .headerButtons {
    margin-bottom: 1em;
  }

  .numberOfElements {
    margin-left: 1em;
  }

  .ng-table {
    // all but last td on tr hover
    tr:hover td:not(:last-child) {
      background-color: #F0F0F0;
    }

    // remove blue box on click
    td:not(:last-child) {
      &:focus {
        outline: none;
      }
    }
  }

  .margin-top {
    margin-top: .5em;
  }

}
