<div id="import-view-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1>Data View</h1>

  <!-- Navigation -->
  <div class="row">
    <div class="col-md-3">

      <!-- Search filter -->
      <h4>Search Filter</h4>
      <div class="searchFilter">
        <div class="form-group has-feedback">
          <input type="text" class="form-control hasclear" placeholder="Search for..."
                 ng-model="importView.searchFilter"
                 ng-change="importView.updateSearchFilter();">
          <button class="btn btn-default" type="button"
                  ng-click="importView.searchFilter=''; importView.updateSearchFilter();"
                  ng-show="importView.searchFilter">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <!-- Category filter -->
      <h4>Category Filter</h4>
      <div class="categoryFilter">
        <treecontrol class="tree-boot" tree-model="importView.categoryTreeData"
                     expanded-nodes="importView.categoryTreeExpandedNodes" options="importView.categoryTreeOptions"
                     on-selection="importView.updateCategoryFilter(node, selected)"
                     selected-nodes="importView.selectedNodes">
          {{node.name}}
        </treecontrol>

        <button type="button" class="btn btn-default" ng-click="importView.resetCategoryFilter()"
                ng-show="importView.hasCategoryFilter">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          reset filter
        </button>
      </div>
    </div>

    <!-- Content -->
    <div class="col-md-9">
      <div class="headerButtons">
        <a class="btn btn-default" ui-sref="importData" role="button">
          <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
          Import New
        </a>
        <span class="numberOfElements"><strong>Number of elements:</strong> {{importView.tableParams.total()}}</span>
      </div>

      <!-- main data table -->
      <table ng-table="importView.tableParams" class="table table-condensed">
        <tr ng-repeat="row in $data">
          <!--<td data-title="'export'" ng-click="importView.openPreviewModal(row.dataId)">-->
          <!--<input type="checkbox" ng-model="importView.selected[row.guid]"/>-->
          <!--</td>-->
          <td data-title="'Title'" data-sortable="'title'" data-toggle="modal"
              ng-click="importView.openPreviewModal(row.dataId)">
            {{row.title}}
          </td>
          <td data-title="'Description'" data-sortable="'description'" data-toggle="modal"
              ng-click="importView.openPreviewModal(row.dataId)">
            {{row.description}}
          </td>
          <td data-title="'Type'" data-sortable="'type'" data-toggle="modal"
              ng-click="importView.openPreviewModal(row.dataId)">
            {{row.type}}
          </td>
          <td data-title="'Privacy'" data-sortable="'privacy'" data-toggle="modal"
              ng-click="importView.openPreviewModal(row.dataId)">
            {{row.privacy}}
          </td>
          <td data-title="'Project ID'" data-sortable="'projectId'" data-toggle="modal"
              ng-click="importView.openPreviewModal(row.dataId)">
            {{row.projectId}}
          </td>
          <td data-title="'Import status'" data-sortable="'state'" data-toggle="modal"
              ng-click="importView.openPreviewModal(row.dataId)">
            {{row.state}}
          </td>
          <td data-title="'Delete'">
            <button type="button" class="btn btn-default" ng-click="importView.deleteDataset(row)"
                    uib-popover="This needs Ticket '#MARS-718' to be done!" data-popover-trigger="mouseenter">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </td>
          <!--<td data-title="'User ID'" sortable="'userId'" data-toggle="modal" ng-click="importView.openPreviewModal(row.dataId)">-->
          <!--{{row.userId}}-->
          <!--</td>-->
          <!--<td data-title="'Download URI'" sortable="'uri'" data-toggle="modal" ng-click="importView.openPreviewModal(row.dataId)">-->
          <!--{{row.uri}}-->
          <!--</td>-->
        </tr>
      </table>

    </div>
  </div>

</div>
