<div id="MissionCTLController-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div>
    <div>

      <form>
        <div class="form-group">
          <label for="simulationPlanName">SimulationPlan Name</label>
          <input class="form-control" ng-model="simrunner.SimPlanName" id="simulationPlanName" placeholder="My Awesome SimPlan">
          <label for="simulationPlanResultConfig">Result Configuration</label>
          <input class="form-control" disabled="true" id="simulationPlanResultConfig" placeholder="Choose your Result Configuration (disabled at the moment)">
          <label for="simulationPlanExecution">Execution Configuration</label>
          <input class="form-control" disabled="true" id="simulationPlanExecution" placeholder="Choose your Execution Configuration (disabled at the moment)">
        </div>
        <button type="submit" class="btn btn-success btn-lg" ng-disabled="simrunner.SimPlanName == ''" ng-click="simrunner.CreateSimPlan()">Create Simulation Plan</button>
      </form>

<hr>

    <table class="table">
      <thead>
        <th>Name</th>
        <th>Control</th>
        <th>Nr. of Execs</th>
        <th>Image Name</th>
      </thead>
      <tbody  ng-repeat="simPlan in simrunner.SimPlans">
        <tr>
          <td>{{simPlan.Name}}</td>
          <td>
            <button type="button" class="btn btn-success" ng-click="simrunner.StartSimulationRun(simPlan.id)">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run
            </button>

          </td>
          <td>{{simPlan.ExecutionCount}}</td>
          <td>{{simPlan.DockerImageName}}</td>
        </tr>
        <tr ng-show="simPlan.ExecutionCount >= 1" >
          <td>
            <button class="btn btn-primary" type="button" ng-click="simrunner.GetAllSimRunsForSimPlan(simPlan); status.open = !status.open">
              Show Simruns
            </button>
          </td>
          <td colspan=3>
            <div data-uib-collapse="!status.open">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="oneAtATime" checked>
                  Open only one at a time
                </label>
              </div>
              <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="{{simRun.PodName}}" ng-repeat="simRun in simPlan.simRuns">
                  SimulationID: {{simRun.SimulationId}} <br>
                  Status: {{simRun.Status}} <br>
                  CurrentTick: {{simRun.CurrentTick}} <br>
                  <button type="button" class="btn btn-success" ng-click="simrunner.AbortSimulationRun(simRun.id)">
                    <span class="glyphicon glyphicon-stop">Abort</span>
                  </button>
                </div>
              </uib-accordion>

            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  </div>
</div>
