#MissionCTLController-container {
  // your css goes here
  .consoleOutput {
    td {
      width: 2%;
      padding: 10px;
    }
    td:last-child {
      width: 100%;
      font-family: Consolas, 'Liberation Mono', Courier, monospace;
    }
  }
}
