#import-container {
  $default-color: #5AADBB !default;

  input.ng-invalid, select.ng-invalid {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .my-drop-zone {
    margin-top: 1em;
    outline: dashed 2px lightgray;
    outline-offset: -.5em;

    span {
      font-size: 1.2em;
    }

    .glyphicon {
      font-size: 5em;
      margin-bottom: .2em;
    }

    #chooseFile:hover {
      color: $default-color;
    }
  }

  // file drop in hover
  .upload-box:hover {
    outline: dashed 2px $default-color;
    background-color: #fff;

    span.glyphicon {
      color: $default-color;
    }
  }

  // remove strange green on focus
  .accordion-toggle:hover,
  .accordion-toggle:focus {
    color: #000000;
  }

  h3.ng-binding {
    margin-bottom: 1em;
  }

  .bold {
    font-weight: bold;
  }

}
