<div id="import-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1>{{ pageTitle }}</h1>

  <div class="row">
    <div class="col-md-3">
      <!-- Error messages -->
      <uib-alert ng-repeat="(key, value) in import.alerts.getAll()" type="{{value}}"
                 close="import.alerts.remove(key)">{{key}}
      </uib-alert>

      <!-- Upload box -->
      <div nv-file-drop data-uploader="import.uploader" ng-click="import.clickUpload();"
           ng-show="import.uploader.isHTML5">
        <div nv-file-over data-uploader="import.uploader" class="well my-drop-zone text-center upload-box">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br/>
          <div><strong>Choose files</strong></div>
          <div>or drag them here.</div>
        </div>
      </div>
      <input type="file" id="uploadBtn" ng-hide="import.uploader.isHTML5" multiple nv-file-select
             data-uploader="import.uploader">

      <!-- Upload accordion settings-->
      <div class="checkbox" ng-show="import.uploader.queue.length">
        <div class="well">
          <label>
            <input type="checkbox" ng-model="import.showOneUploadAtATime">
            Collapse other upload itemsFile size
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <h3>Upload queue</h3>
      <p>Queue length: {{ import.uploader.queue.length }}</p>

      <form name="form" class="css-form">
        <uib-accordion close-others="import.showOneUploadAtATime">
          <uib-accordion-group heading="{{upload.file.name}}" ng-init="isOpen = $index === 0" is-open="isOpen"
                               ng-repeat="upload in import.uploader.queue">
            <div class="col-md-6">
              <div ng-include data-src="'app/data-management/import/directive/templates/formFieldsLeft.html'"></div>
            </div>
            <div class="col-md-6">
              <div ng-include data-src="'app/data-management/import/directive/templates/formFieldsRight.html'"></div>
            </div>
          </uib-accordion-group>
        </uib-accordion>

        <div ng-show="import.uploader.queue.length">
          <button type="submit" class="btn btn-success btn-s" ng-click="import.uploadFiles()"
                  ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="import.uploader.cancelAll()"
                  ng-disabled="!import.uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  ng-click="import.uploader.clearQueue(); import.removeAllUploads();"
                  ng-disabled="!import.uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>
      </form>
    </div>

  </div>

</div>
