<div id="import-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1>File import</h1>

  <div class="row">
    <div class="col-md-3">

      <!-- Error messages -->
      <uib-alert ng-repeat="alert in import.alerts" type="{{alert.type}}" close="import.removeAlert($index)">
        {{alert.msg}}
      </uib-alert>

      <!-- Upload box -->
      <div nv-file-drop uploader="import.uploader" ng-click="import.clickUpload();" ng-show="import.uploader.isHTML5">
        <div nv-file-over uploader="import.uploader" class="well my-drop-zone text-center upload-box">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br/>
          <div><strong>Choose files</strong></div>
          <div>or drag them here.</div>
        </div>
      </div>
      <input type="file" id="uploadBtn" ng-hide="import.uploader.isHTML5" multiple nv-file-select
             uploader="import.uploader">

      <!-- Upload accordion settings-->
      <div class="checkbox" ng-show="import.uploader.queue.length">
        <div class="well">
          <label>
            <input type="checkbox" ng-model="import.showOneUploadAtATime">
            Open only one Upload at a time
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <h3>Upload queue</h3>
      <p>Queue length: {{ import.uploader.queue.length }}</p>

      <form name="form" class="css-form">
        <uib-accordion close-others="import.showOneUploadAtATime">
          <uib-accordion-group heading="{{upload.file.name}}" ng-init="isOpen = $index === 0" is-open="isOpen"
                               ng-repeat="upload in import.uploader.queue">

            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': form.dataType_$index.$invalid }">
                <label for="dataType">Data Type</label>
                <select id="dataType" class="form-control" ng-model="import.data[$index].dataType"
                        ng-change="import.clearGeoPicker($index)" name="dataType_{{$index}}" required>
                  <option value="">Please select</option>
                  <option value="{{import.CONST_UPLOAD_TIMESERIES}}">time-series data</option>
                  <option value="{{import.CONST_UPLOAD_TABLEBASED}}">table data</option>
                  <option value="{{import.CONST_UPLOAD_GIS}}">GIS data</option>
                </select>
                <div ng-show="form.$submitted || form.dataType_$index.$touched">
                  <div ng-show="form.dataType_$index.$invalid">Please select a Data Type</div>
                </div>
              </div>

              <div class="form-group"
                   ng-class="{ 'has-error': form.lat_$index.$invalid || form.lng_$index.$invalid }">
                <div class="geo-picker" ng-model="import.geoPicker"
                     ng-hide="!import.data[$index].dataType || import.data[$index].dataType === import.CONST_UPLOAD_GIS">
                  <label>
                    Geo-Coords
                    <div class="input-group">
                      <input type="text" placeholder="LAT" min="-90" max="90"
                             class="form-control" ng-model="import.data[$index].lat" name="lat_{{$index}}"
                             ng-required="import.data[$index].dataType && import.data[$index].dataType !== import.CONST_UPLOAD_GIS">
                      <span class="input-group-btn" style="width:0;"></span>
                      <input type="text" placeholder="LON" min="-180" max="180"
                             class="form-control" ng-model="import.data[$index].lng" name="lng_{{$index}}"
                             ng-required="import.data[$index].dataType && import.data[$index].dataType !== import.CONST_UPLOAD_GIS">
                      <span class="input-group-btn" style="width:0;"></span>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                                ng-click="import.openGeoPicker($index)">pick</button>
                      </span>
                    </div>
                  </label>
                </div>
                <div ng-show="form.$submitted || form.lat_$index.$touched || form.lng_$index.$touched">
                  <div ng-show="form.lat_$index.$error.required || form.lng_$index.$error.required">
                    Please select a Geo Coordinate
                  </div>
                  <div ng-show="form.lat_$index.$error.min || form.lat_$index.$error.max">
                    Latitude is not valid! Valid range: -90 to 90.
                  </div>
                  <div ng-show="form.lng_$index.$error.min || form.lng_$index.$error.max">
                    Longitude is not valid. Valid range: -180 to 180.
                  </div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': form.privacy_$index.$invalid }">
                <label for="privacy">Privacy</label>
                <select id="privacy" class="form-control" ng-model="import.data[$index].privacy" class="form-control"
                        name="privacy_{{$index}}" required>
                  <option value="">Please select</option>
                  <option value="PRIVATE">only for personal use</option>
                  <option value="PROJECT_PRIVATE">can only be used by project members</option>
                  <option value="PUBLIC">can be used by everyone</option>
                </select>
                <div ng-show="form.$submitted || form.privacy_$index.$touched">
                  <div ng-show="form.privacy_$index.$invalid">Please select a privacy type</div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': form.title_$index.$invalid }">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" ng-model="import.data[$index].title"
                       placeholder="Title of this data" ng-trim="true" name="title_{{$index}}" required>
                <div ng-show="form.$submitted || form.title_$index.$touched">
                  <div ng-show="form.title_$index.$invalid">Please enter a title</div>
                </div>
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="4" ng-model="import.data[$index].description"
                          placeholder="Description of this data"></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" ng-show="import.uploader.isHTML5">
                <label class="control-label">File size:</label>
                {{ upload.file.size/1024/1024|number:2 }} MB
              </div>

              <div ng-show="import.uploader.isHTML5">
                <div ng-hide="upload.isSuccess || upload.isCancel || upload.isError" class="progress"
                     style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': upload.progress + '%' }">
                    {{upload.progress}}% Complete
                  </div>
                </div>

                <div class="alert alert-success" ng-show="upload.isSuccess">
                  <i class="glyphicon glyphicon-ok"></i>ok
                </div>
                <div class="alert alert-warning" ng-show="upload.isUploading">
                  <i class="glyphicon glyphicon-refresh"></i>uploading
                </div>
                <div class="alert alert-warning" ng-show="upload.isCancel">
                  <i class="glyphicon glyphicon-ban-circle"></i>canceled
                </div>
                <div class="alert alert-danger" ng-show="upload.isError">
                  <i class="glyphicon glyphicon-remove"></i>failed
                </div>
              </div>
              <button type="button" class="btn btn-warning btn-xs" ng-click="upload.cancel()"
                      ng-disabled="!upload.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      ng-click="upload.remove(); import.removeUpload($index);">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </div>
          </uib-accordion-group>
        </uib-accordion>

        <div ng-show="import.uploader.queue.length">
          <button type="submit" class="btn btn-success btn-s" ng-click="import.uploadFiles()"
                  ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="import.uploader.cancelAll()"
                  ng-disabled="!import.uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  ng-click="import.uploader.clearQueue(); import.removeAllUploads();"
                  ng-disabled="!import.uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>
      </form>

    </div>
  </div>

</div>
