#import-container {
  .my-drop-zone {
    border: dotted 3px lightgray;
  }

  .nv-file-over {
    border: dotted 3px red;
  }

  .another-file-over-class {
    border: dotted 3px green;
  }

  #uploadErrorMsg{
    display: none;
  }

  #uploadErrorMsg button, #uploadErrorMsg button:hover{
    border: 0px solid transparent;
    background-color: transparent;
    float: right;
    margin-left: 10px;
  }

  #file-list{
    margin-bottom: 40px;
  }

  .file-settings label{
    margin-top: 10px;
    display: block;
  }

  .file-settings input[type=text],
  .file-settings textarea,
  .file-settings select
  {
    width: 350px;
  }

  .file-settings textarea{
    height: 150px;
  }
  .latLng {
    width: 200px;
  }

  #map-borders{
    position: absolute;
    z-index: 2000;
    display: none;
    top: 200px;
    left: 300px;
    width: 820px;
    height: 620px;
    padding: 10px;
    background-color: #666
  }

  #map-borders label{
    font-size: 15px;
    font-weight: bold;
    color: white;
  }

  #map-borders label span{
    display: inline-block;
    width: 170px;
  }

  .geo-data-format{
    margin: 0;
    padding: 0;
    display: none;
  }
}
