#import-container {
  $default-color: #5AADBB !default;

  .my-drop-zone {
    margin-top: 1em;
    outline: dashed 2px lightgray;
    outline-offset: -.5em;

    span {
      font-size: 1.2em;
    }

    .glyphicon {
      font-size: 5em;
      margin-bottom: .2em;
    }

    #chooseFile:hover {
      color: $default-color;
    }
  }

  // file drop in hover
  .another-file-over-class {
    outline: dashed 2px $default-color;
    outline-offset: -1em;
    background-color: #fff;

    span.glyphicon {
      color: $default-color;
    }
  }

  // remove strange green on focus
  .accordion-toggle:hover,
  .accordion-toggle:focus {
    color: #000000;
  }

  #map-borders {
    position: absolute;
    z-index: 2000;
    display: none;
    top: 200px;
    left: 300px;
    width: 820px;
    height: 620px;
    padding: 10px;
    background-color: #666;

    label {
      font-size: 15px;
      font-weight: bold;
      color: white;

      span {
        display: inline-block;
        width: 170px;
      }
    }
  }

  .geo-data-format {
    margin: 0;
    padding: 0;
    display: none;
  }

}
