#mapping-container {

  // remove strange green on focus
  .accordion-toggle:hover,
  .accordion-toggle:focus {
    color: #000000;
  }

  .glyphicon-ok {
    color: green;
  }

  .glyphicon-remove {
    color: red;
  }

  .add-parameter-btn {
    margin-bottom: 0.5em;
  }

  input.ng-invalid, select.ng-invalid, button.ng-invalid {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .navbar-collapse.in {
    overflow-y: hidden;
  }

  .clear-filter {
    pointer-events: auto;
    text-decoration: none;
    cursor: pointer;
  }

  .full-width, .input-group {
    width: 100%;
  }

  .orange {
    color: orange;
  }

  .select-data-table {
    .panel-group {
      margin-bottom: 0;
    }

    td {
      border-top: none;
      padding: 2px;
    }
  }

}
