#mapping-container {

  // remove strange green on focus
  .accordion-toggle:hover,
  .accordion-toggle:focus {
    color: #000000;
  }

  .glyphicon-ok {
    color: green;
  }

  .glyphicon-remove {
    color: red;
  }

  .add-parameter-btn {
    margin-bottom: 0.5em;
  }

}
