<div id="mapping-container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="col-md-3">
    <h3>Model Aspects</h3>
    <treecontrol class="tree-boot" tree-model="mapping.treeData"
                 expanded-nodes="mapping.treeExpandedNodes" options="mapping.treeOptions"
                 on-selection="mapping.onNodeSelection(node)"
                 selected-node="mapping.selectedNode">
      {{ node.Name ? node.Name : node.LayerName }}
    </treecontrol>
  </div>

  <div class="col-md-5">
    <!-- Error messages -->
    <uib-alert ng-repeat="(key, value) in mapping.alerts.getAll()" type="{{value}}" close="mapping.alerts.remove(key)">
      {{key}}
    </uib-alert>

    <div data-ng-hide="mapping.currentScenario">
      <label for="scenario" class="acme-navbar-text">Please select a Scenario: </label>
      <select class="form-control" id="scenario" data-ng-model="mapping.currentScenario"
              data-ng-options="o.Name for o in mapping.scenarios track by o.ScenarioId"
              data-ng-change="mapping.setCurrentScenario(o)">
      </select>
      <div>
        <div>Or create one <a data-ui-sref="scenario">here</a>.</div>
      </div>
    </div>

    <form name="mappingForm" class="simple-form" novalidate data-ng-if="mapping.selectedNode">
      <h3>{{ mapping.selectedNode.Name }}</h3>

      <!-- render basic layer agent fields -->
      <div data-ng-if="mapping.selectedNode.LayerType === 'BasicLayers'">
        <div ng-include data-src="'app/mapping/templates/agents.html'"></div>
      </div>

      <!-- render layer fields -->
      <div data-ng-if="mapping.selectedNode.LayerType && mapping.selectedNode.LayerType !== 'BasicLayers'
      && !mapping.selectedNode.Parameters">
        <div ng-include data-src="'app/mapping/templates/layers.html'"></div>
      </div>

      <!-- render parameters -->
      <div data-ng-if="mapping.selectedNode.Parameters">
        <div ng-include data-src="'app/mapping/templates/parameters.html'"></div>
      </div>

    </form>
  </div>

  <div class="col-md-4" data-ng-if="mapping.selectedNode && !mapping.selectedNode.Parameters">
    <div ng-include data-src="'app/mapping/templates/select-data.html'"></div>
  </div>

  <!-- Debugging only -->
  <div ng-if="mapping.development">
    Field:
    <pre data-pretty-json="mapping.selectedField"></pre>
    Node:
    <pre data-pretty-json="mapping.selectedNode"></pre>
  </div>

</div>
