<div id="mapping-container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="col-md-3">
    <h3>Model Aspects</h3>
    <treecontrol class="tree-boot" tree-model="mapping.treeData"
                 expanded-nodes="mapping.treeExpandedNodes" options="mapping.treeOptions"
                 on-selection="mapping.onNodeSelection(node)"
                 selected-node="mapping.selectedNode">
      {{ node.LayerName }} {{ node.Name }}
    </treecontrol>
  </div>

  <div class="col-md-5">
    <!-- Error messages -->
    <uib-alert ng-repeat="alert in mapping.alerts.getAll() track by $index" type="{{alert.type}}"
               close="mapping.alerts.remove($index)">
      {{alert.msg}}
    </uib-alert>

    <form name="mappingForm" class="simple-form" novalidate ng-show="mapping.selectedNode">
      <h3>{{ mapping.selectedNode.Name }}</h3>

      <!-- render basic layer agent fields -->
      <table class="table table-striped" ng-hide="mapping.selectedNode.Parameters ||
      mapping.selectedNode.hasOwnProperty('LayerName')">
        <thead>
        <tr>
          <th>Fields</th>
          <th>Select Dataset</th>
          <th>manually</th>
        </tr>
        </thead>
        <tbody>
        <tr class="form-group"
            data-ng-repeat="field in mapping.selectedNode.ConstructorParameterMapping track by $index">
          <td class="col-md-6">
            <span>{{ field.Name }}:</span>
          </td>
          <td class="col-md-4">
            <div class="input-group" ng-hide="field.MappingType === 'ValueParameterMapping'">
              <button class="btn btn-info" ng-click="mapping.selectedField=field">
                {{ field.ColumnClearName ? field.ColumnClearName : 'select'}}
              </button>
              <button class="btn btn-link" ng-click="mapping.resetField(field)"
                      ng-show="field.ColumnClearName">X
              </button>
            </div>
            <div class="input-group" ng-show="field.MappingType === 'ValueParameterMapping'">
              <label><input type="text" class="form-control" ng-model="field.Value"/></label>
            </div>
          </td>
          <td class="col-md-2">
            <div class="input-group">
              <div class="checkbox">
                <label><input type="checkbox" ng-model="field.MappingType" ng-click="mapping.resetField(field)"
                              data-ng-true-value="'ValueParameterMapping'"
                              data-ng-false-value="'ColumnParameterMapping'">
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr class="text-right">
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-primary" type="submit" ng-click="mapping.save()"
                    data-ng-disabled="mappingForm.$invalid">Save
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- render layer fields -->
      <table class="table table-striped" ng-show="mapping.selectedNode.hasOwnProperty('LayerName')">
        <thead>
        <tr>
          <th>Fields</th>
          <th>Select Dataset</th>
        </tr>
        </thead>
        <tbody>
        <tr class="form-group">
          <td class="col-md-6">
            <span>{{ mapping.selectedNode.LayerName }}:</span>
          </td>
          <td class="col-md-6">
            <div class="input-group">
              <button class="btn btn-info" ng-click="mapping.selectedField=mapping.selectedNode">
                {{ mapping.selectedNode.ColumnClearName ? mapping.selectedNode.ColumnClearName : 'select' }}
              </button>
              <button class="btn btn-link" ng-click="mapping.resetField(mapping.selectedNode)"
                      ng-show="mapping.selectedNode.ColumnClearName">X
              </button>
            </div>
          </td>
        </tr>
        <tr class="text-right">
          <td></td>
          <td>
            <button class="btn btn-primary" type="submit" ng-click="mapping.save()"
                    data-ng-disabled="mappingForm.$invalid">Save
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- render parameters -->
      <table class="table table-striped" ng-show="mapping.selectedNode.Parameters">
        <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr class="form-group" data-ng-repeat="field in mapping.selectedNode.Parameters track by $index">
          <td class="col-md-6">
            <div class="input-group">
              <label><input type="text" class="form-control" ng-model="field.Name" data-ng-disabled="field.Required"/>
              </label>
            </div>
          </td>
          <td class="col-md-4">
            {{ mappingForm.Value.$invalid }}
            <div class="input-group" ng-class="{ 'has-error': mappingForm.Value{{$index}}.$invalid }">
              <label><input type="text" name="Value{{$index}}" class="form-control" ng-model="field.Value" required/>
              </label>
            </div>
          </td>
          <td class="col-md-2">
            <div class="input-group">
              <button class="btn btn-link" ng-click="mapping.removeParameter(field)"
                      data-ng-disabled="field.Required">X
              </button>
            </div>
          </td>
        </tr>
        <tr class="text-right">
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-primary" ng-click="mapping.addParameter()">Add</button>
          </td>
        </tr>
        <tr class="text-right">
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-primary" type="submit" ng-click="mapping.save()"
                    data-ng-disabled="mappingForm.$invalid">Save
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="col-md-4" ng-show="mapping.selectedNode && !mapping.selectedNode.Parameters">
    <h3>Select Data</h3>

    <div class="form-group">
      <label for="filter" class="filter">Filter:</label>
      <input class="form-control" id="filter" type="text" ng-model="mapping.dataFilter.title">
    </div>

    <uib-accordion close-others="true">
      <uib-accordion-group class="panel-default" ng-repeat="dataset in mapping.metadata |filter:mapping.dataFilter
      track by $index">
        <uib-accordion-heading>
          {{ dataset.title }}
        </uib-accordion-heading>
        <div>Type: {{ dataset.type }}</div>
        <div>Description: {{ dataset.description }}</div>
        <div ng-show="dataset.additionalTypeSpecificData.databaseName">
          <div>ColumnNames:</div>
          <ul>
            <li
              ng-repeat="field in dataset.additionalTypeSpecificData.columnNames track by $index ">
              {{
              field.clearColumnName }}
              <button class="btn btn-success btn-xs" ng-click="mapping.createMapping(dataset, $index)">add</button>
            </li>
          </ul>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>


</div>
