<div id="scenario-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h2>Scenarios
    <button class="btn btn-default" ng-click="scenario.openScenarioModal()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  </h2>

  <div class="row">
    <div class="col-md-4">
      <!-- Search filter -->
      <div class="form-group has-feedback searchFilter">
        <label class="filter-label">Filter: </label>
        <input type="text" class="form-control hasclear" placeholder="Filter scenarios..."
               ng-model="scenario.searchFilter"
               ng-change="scenario.updateSearchFilter();">
        <button class="btn btn-default" type="button"
                ng-click="scenario.searchFilter=''; scenario.updateSearchFilter();"
                data-ng-if="scenario.searchFilter">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div class="col-md-8">
      <!-- Error messages -->
      <uib-alert ng-repeat="(key, value) in scenario.alerts.getAll()" type="{{value}}"
                 close="scenario.alerts.remove(key)">{{key}}
      </uib-alert>
    </div>

    <div class="col-md-12">
      <table ng-table="scenario.tableParams" class="table text-center" data-show-filter="false">
        <tr ng-repeat="scenarioData in $data">
          <td title="'Name'" data-filter="{ Name: 'text'}" data-sortable="'Name'">
            {{scenarioData.Name}}
          </td>
          <td title="'Description'" data-filter="{ Description: 'text'}" data-sortable="'Description'">
            {{scenarioData.Description}}
          </td>
          <td title="'Model'" data-filter="{ Model: 'text'}" data-sortable="'Model'">
            {{scenarioData.ModelName}}
          </td>
          <td title="'Owner'" data-filter="{ Owner: 'text'}" data-sortable="'Owner'">
            {{scenarioData.Owner}}
          </td>
          <td title="'Clone Scenario'" data-filter="{ Clone: 'text'}" data-sortable="'Clone'">
            <button class="btn btn-default" ng-click="scenario.openScenarioModal(scenarioData)">clone</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
