<div id="scenario-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="col-md-4">
    <h2>Scenarios</h2>

    <button class="btn btn-default" ng-click="scenario.openScenarioModal()">Create new Scenario</button>
  </div>
  <div class="col-md-8">
    <!-- Error messages -->
    <uib-alert ng-repeat="(key, value) in scenario.alerts.getAll()" type="{{value}}"
               close="scenario.alerts.remove(key)">{{key}}
    </uib-alert>
  </div>

  <table ng-table="scenario.tableParams" class="table" data-show-filter="true">
    <tr ng-repeat="scenario in $data">
      <td title="'Name'" data-filter="{ Name: 'text'}" data-sortable="'Name'">
        {{scenario.Name}}
      </td>
      <td title="'Description'" data-filter="{ Description: 'text'}" data-sortable="'Description'">
        {{scenario.Description}}
      </td>
      <td title="'Model'" data-filter="{ Model: 'text'}" data-sortable="'Model'">
        {{scenario.Model}}
      </td>
      <td title="'Owner'" data-filter="{ Owner: 'text'}" data-sortable="'Owner'">
        {{scenario.Owner}}
      </td>
    </tr>
  </table>

</div>

