<div class="container scenario">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h2>Scenarios</h2>

  <button class="btn btn-default" ng-click="scenario.openScenarioModal()">Create new Scenario</button>

  <table ng-table="scenario.tableParams" class="table" show-filter="true">
    <tr ng-repeat="scenario in $data">
      <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
        {{scenario.Name}}
      </td>
      <td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
        {{scenario.Description}}
      </td>
      <td title="'Model'" filter="{ model: 'text'}" sortable="'model'">
        {{scenario.Model}}
      </td>
      <td title="'Owner'" filter="{ owner: 'text'}" sortable="'owner'">
        {{scenario.Owner}}
      </td>
    </tr>
  </table>

</div>

