<div id="MissionCTLController-container" class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div>
    <div style="valign: center; width: 50%">

      <form>
        <div class="form-group">
          <label for="simulationPlanName">SimulationPlan Name</label>
          <input class="form-control" ng-bind="vm.SimPlanName" id="simulationPlanName" placeholder="My Awesome SimPlan">
        </div>
        <button type="submit" class="btn btn-success btn-lg" ng-click="missionctl.StartSimulation()">StartSimulation</button>
      </form>

    </div>


    <table class="table" ng-repeat="simPlan in vm.SimPlans">
      <tr>
        <td>simPlan</td>
      </tr>
    </table>
  </div>


</div>
